# The directory Mix will write compiled artifacts to.
_build

# The directory Mix downloads your dependencies sources to.
deps

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Ignore git artifacts
.git
.gitignore
.gitmodules
.gitkeep

# Ignore Docker artifacts
Dockerfile
Dockerfile.*
.dockerignore

# Ignore markdown description
README.md
LICENSE.md

# Ignore other CI configuration and scripts
.travis.yml

# Ignore Make artefacts
c_src/*.o
priv/digital_signature_lib_nif.so*

# Ignore misc artefacts
.elixir_ls
.vscode
